.hero-container {
  position: relative;
  height: 75vh;
  width: 100%;
}

.hero-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/KnipetakMassasje.jpg");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.39;
}

.hero-content {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-container {
  text-align: center;
  padding: 0 1rem;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5rem;
}

.hero-divider {
  width: 6rem;
  height: 2px;
  background-color: white;
  margin: 0 auto 1.5rem auto;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 2rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #2b2c2d;
  color: rgb(236, 235, 235);
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border: none;
  outline: none;
}

.hero-button:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  background-color: rgb(236, 235, 235);
  color: #2b2c2d;
  border: none;
  outline: none;
}

.hero-button:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 3.75rem;
  }
}

.hero-icon {
  font-size: 1.3rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
